@eventercom-brand-primary: RGBA(68, 154, 230, 1);
@eventercom-brand-secondary: RGBA(175, 231, 254, 1);
@eventercom-danger: RGBA(255, 67, 62, 1);
@eventercom-text-primary: RGBA(56, 56, 56, 1);
@eventercom-text-secondary: RGBA(110, 110, 110, 1);
@eventercom-off-white: RGBA(250, 250, 250, 1);
