.list-controls {
  text-align: center;
  margin: 20px 0;
  border-bottom: 1px solid @eventercom-text-secondary;
  padding-bottom: 25px;
}
.list-controls button {
  color: @eventercom-brand-primary;
  .eventercomButton(1px, @eventercom-brand-primary, transparent)
}
.list-controls button.active {
  color: white;
  .eventercomButton(1px, @eventercom-brand-primary, @eventercom-brand-primary)
}
.list-controls label {
  width: 100%;
  color: @eventercom-text-secondary;
  text-align: center;
}
