.container-fluid {
  padding: 0;
}
.navbar-constraints {
  width: 210px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  @media (max-width: @screen-xs-max) {
  }
  @media (min-width: @screen-sm-min) {
  }
  @media (min-width: @screen-lg-min) {
  }
}
.navbar.authed-navbar {
  background-color: @eventercom-map-water;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;

  a {
    color: white;
  }
  a:hover,
  a:active {
    background-color: @eventercom-brand-primary-light;
  }
}
.navbar.authed-navbar .container-fluid .navbar-brand {
  .navbar-constraints;
  .backgroundImage('../../img/landing/eventercom_white.png');
}
.navbar.party-navbar {
  background-color: @eventercom-brand-primary;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.party-navbar .container-fluid .navbar-brand {
  .navbar-constraints;
  .backgroundImage('../../img/landing/eventercom_white.png');
}
